#startBackground {
	-fx-background-image: url("/Tower.jpg");
	-fx-background-size: cover;
}

#insideTower {
	-fx-background-image: url("/pixelBackLower1.png"); 
	-fx-background-size: cover;
}

#shopBackground {
	-fx-background-image: url("/shop1.jpg");
	-fx-background-size: cover;
}

#transitionBackground {
	-fx-background-image: url("/transition.jpg");
	-fx-background-size: cover;
}

#youWinBackground {
	-fx-background-image: url("/youWin1a.jpg"); 
	-fx-background-size: cover;
}

#startText {
	-fx-fill: url("/Brick.jpeg");
	-fx-stroke: black;
	-fx-stroke-width:3;
	-fx-font-family: helvetica;
	-fx-font-size: 100px;
	-fx-font-weight: bold;
	-fx-font-style: italic;
	-fx-effect:dropshadow(gaussian, rgba(210,105,30),10, 0.5, 0.0, 0.0); 
}

#characterOptionText {
	-fx-fill: black;
	-fx-font-family: helvetica;
	-fx-font-size: 75px;
	-fx-font-weight: bold;
	-fx-effect:dropshadow(gaussian, rgba(255,255,255), 5, 0.5, 0.0, 0.0); 
}

#characterNameText {
	-fx-text-fill: black;
	-fx-font-family: helvetica;
	-fx-font-size: 50px;
	-fx-font-weight: bold;
	-fx-effect:dropshadow(gaussian, rgba(255,255,255), 5, 0.5, 0.0, 0.0); 
}

#BtnText {
	-fx-fill: black;
	-fx-font-family: helvetica;
	-fx-font-size: 30px;
	-fx-font-weight: bold;
}

#errorText {
	-fx-fill: white;
	-fx-stroke: black;
	-fx-stroke-width: 0.2;
	-fx-font-family: serif;
	-fx-font-size: 30px;
	-fx-font-weight: bold;
	-fx-effect:dropshadow(gaussian, rgba(255,0,0),10, 0.5, 0.0, 0.0); 
}

#getNameGrid {
	-fx-vgap:10;
	-fx-hgap:10;
	-fx-padding:10;
	-fx-alignment: center;
	-fx-size: 600px,400px;
}

#battlePhase {
	-fx-fill: white;
	-fx-font-family: serif;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
}

#battlePhaseMana {
	-fx-fill: lightblue;
	-fx-font-family: serif;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
}

#battlePhaseDialogue {
	-fx-fill: white;
	-fx-font-family: serif;
	-fx-font-size: 24px;
	-fx-font-weight: bold;
}

#battlePhaseEmpowered {
	-fx-fill: red;
	-fx-font-family: serif;
	-fx-font-size: 24px;
	-fx-font-weight: bold;
}

#battlePhaseOutraged {
	-fx-fill: yellow;
	-fx-font-family: serif;
	-fx-font-size: 24px;
	-fx-font-weight: bold;
}

#battlePhaseBtn {
	-fx-fill: black;
	-fx-font-family: serif;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
}

#battlePhaseHealBtn {
	-fx-fill: black;
	-fx-font-family: serif;
	-fx-font-size: 18px;
	-fx-font-weight: bold;
}


#floorNumberText{
	-fx-fill: white;
	-fx-font-family: serif;
	-fx-font-size: 40px;
	-fx-font-weight: bold;
}

#shopTitle {
	-fx-fill: white;
	-fx-stroke: darkslateblue;
	-fx-stroke-width: 0.3;
	-fx-font-family: helvetica;
	-fx-font-size: 70px;
	-fx-font-weight: bold;
	-fx-effect:dropshadow(gaussian, rgba(123,104,238),10, 0.5, 0.0, 0.0); 
}

#shopText {
	-fx-fill: white;
	-fx-stroke: darkslateblue;
	-fx-stroke-width: 0.2;
	-fx-font-family: helvetica;
	-fx-font-size: 24px;
	-fx-font-weight: bold;
	-fx-effect:dropshadow(gaussian, rgba(123,104,238),10, 0.5, 0.0, 0.0); 
}

#eventTitle {
	-fx-fill: goldenrod;
	-fx-font-family: helvetica;
	-fx-font-size: 70px;
	-fx-font-weight: bold;
	-fx-effect:dropshadow(gaussian, rgba(184,134,11),5, 0.5, 0.0, 0.0); 
}

#eventText {
	-fx-fill: white;
	-fx-font-family: helvetica;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
}

#clearedFloorText {
	-fx-fill: black;
	-fx-stroke: white;
	-fx-stroke-width:1;
	-fx-font-family: impact;
	-fx-font-size: 75px;
	-fx-font-weight: bold;
	-fx-effect:dropshadow(gaussian, rgba(255,215,0), 10, 0.5, 0.0, 0.0); 
}
#xpAndGoldText {
	-fx-fill: white;
	-fx-font-family: helvetica;
	-fx-font-size: 30px;
	-fx-font-weight: bold;
}

#xpAndGoldTwoText {
	-fx-fill: white;
	-fx-font-family: helvetica;
	-fx-font-size: 26px;
	-fx-font-weight: bold;
}

#levelUpText {
	-fx-fill: gold;
	-fx-font-family: helvetica;
	-fx-font-size: 27px;
	-fx-font-weight: bold;
	-fx-stroke: white;
	-fx-stroke-width:0.5;
}

#staminaLevelUpdates {
	-fx-fill: white;
	-fx-font-family: helvetica;
	-fx-font-size: 20px;
}

#revive {
	-fx-fill: white;
	-fx-font-family: helvetica;
	-fx-stroke: grey;
	-fx-stroke-width:0.5;
	-fx-font-size: 75px;
	-fx-font-weight: bold;
	-fx-effect:dropshadow(gaussian, rgba(224,255,255), 8, 0.8, 0.5, 0.5); 
}

#congrats {
	-fx-fill: black;
	-fx-stroke: white;
	-fx-stroke-width:1;
	-fx-font-family: impact;
	-fx-font-size: 80px;
	-fx-font-weight: bold;
	-fx-effect:dropshadow(gaussian, rgba(255,255,255), 10, 0.5, 0.0, 0.0); 
}

#thankYou {
	-fx-fill: black;
	-fx-stroke: white;
	-fx-stroke-width:1;
	-fx-font-family: impact;
	-fx-font-size: 60px;
	-fx-font-weight: bold;
	-fx-effect:dropshadow(gaussian, rgba(100,149,237), 10, 0.5, 0.0, 0.0); 
}

#woodenBtn.button {
	-fx-background-image: url("/startButton.png");
	-fx-background-size:230px,70px;
    -fx-min-width:230px;
    -fx-min-height:70px;
    -fx-border-color: none;
	-fx-text-fill: black;
	-fx-font-family: helvetica;
	-fx-font-size: 30px;
	-fx-font-weight: bold;
}

#yellowBtn {
	-fx-padding: 10 15 13 15;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 6;
    -fx-background-color: 
        radial-gradient(center 50% 50%, radius 100%, #FFD800, #B8860B);
   	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
   	-fx-font-weight: bold;
	-fx-font-family: serif;
	-fx-text-fill: black;
    -fx-font-size: 20px;   
}
  
#yellowBtn:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #A0522D 0%, #8B4513 100%),
        #A0522D,
        #B8860B,
        radial-gradient(center 50% 50%, radius 100%, #FFFF00, #DAA520);
}

#yellowBtn:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

#redBtn {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 6;
    -fx-background-color: 
        radial-gradient(center 50% 50%, radius 100%, #D86E3A, #C54E2C);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
	-fx-font-family: serif;
	-fx-text-fill: black;
    -fx-font-size: 20px;  
}

#redBtn:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #A34313 0%, #903B12 100%),
        #9D4024,
        #D86E3A,
        radial-gradient(center 50% 50%, radius 100%, #FF8C00, #C54E2C);
}

#redBtn:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

#whiteBtn {
	-fx-padding: 10 15 13 15;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 6;
    -fx-background-color: 
        radial-gradient(center 50% 50%, radius 100%, #FFFFFF, #E0FFFF);
   	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
   	-fx-font-weight: bold;
	-fx-font-family: serif;
	-fx-text-fill: black;
    -fx-font-size: 20px;   
  }
  
#whiteBtn:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #A9A9A9 0%, #C0C0C0 100%),
        #B0C4DE,
        #87CEFA,
        radial-gradient(center 50% 50%, radius 100%, #E0FFFF, #ADD8E6);
}

#whiteBtn:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

#gameOverBtn {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 6;
    -fx-background-color: 
        radial-gradient(center 50% 50%, radius 100%, #DC143C, #B22222);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
	-fx-font-family: serif;
	-fx-text-fill: black;
    -fx-font-size: 20px;  
}

#gameOverBtn:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #CD5C5C 0%, #8B0000 100%),
        #B22222,
        #8B0000,
        radial-gradient(center 50% 50%, radius 100%, #FF0000, #8B0000);
}

#gameOverBtn:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

#heroStatsText {
	-fx-fill: black;
	-fx-font-family: helvetica;
	-fx-font-size: 18px;
}
